#q1 {
    background-color: red;
    color: white;
    display: block;
}
#q2 {
    background-color: red;
    color: white;
    display: block;
}
#q3 {
    background-color: red;
    color: white;
    display: block;
}
#q4 {
    background-color: red;
    color: white;
    display: block;
}
#q5 {
    background-color: red;
    color: white;
    display: block;
}